.card {
    width: 300px;
    height: 90%;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    transition-duration: 0.3s;
}

.cardContainer {
    position: absolute;
    top: 30%;
    bottom: 10%;
    left: 15%;
    right: 15%;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover {
    scale: 1 1.1;
    background-color: rgba(123, 123, 123, 255);
    bottom: 50px;
}
